## INTRODUCTION TO PYTHON

Python print() statement is used in printing i.e displaying data, statments results.

In [1]:
a = 10
a = a/2

In [2]:
print(a)

5.0

In [3]:
1/2

0.5

In [4]:
b = 3/4
print(b)

0.75

In [5]:
c = 12
c

12

In [6]:
b

0.75

In [14]:
print(1/2)
print(1//2)
print(2*3)
print(2**3)
print(3%10)
print(-3.5 ** 0.2)
print((-3.5) ** 0.2)

0.5
0
6
8
3
-1.2847351571234393
(1.0393725753838308+0.7551483784588109j)

## Variables in python  
The python interpreter uses dynamic allocation i.e user need not specify the datatype, python does it automatically

In [9]:
a = input('Enter a number: ')#the input function is used to take input from the user
print(a)

Enter a number: 11
11

In [15]:
name = 1
print(name)
type( name)

1

int

## Strings

In [16]:
name = 'Mohan'
print(name)
type( name)

Mohan

str

In [17]:
pow(2,3)# Returns 2 to power 3

8

In [19]:
10 + pow(2,3*5)/3.0

10932.666666666666

In [20]:
print(abs(-10))
print(round(1.0/2.0))

10
0

In [5]:
print('Let\'s go')
print('Please \n print this\t:')
print(r'Please \n print this\t:')# The r refers to raw string

Let's go
Please
 print this	:
Please \n print this\t:

In [7]:
s = 'First line.\nSecond line.'
print(s)
s

First line.
Second line.

'First line.\nSecond line.'

In [8]:
#String slicing
word = 'Python'
p1 = word[:2] 
p2 = word[2:]

In [10]:
print(p1)
print(p2)
p1 + p2

Py
thon

'Python'

In [12]:
s = 'supercalifragilisticexpialidocious'
len(s)#returns the length of the string

34

In [13]:
print("""\
Usage: thingy[Options]
-h     Display this usage message
-H hostname   Hostname to connect to""")

Usage: thingy[Options]
-h     Display this usage message
-H hostname   Hostname to connect to

In [17]:
prefix = 'Py'

prefix +'thon'#concatenates strings

'Python'

In [20]:
my_str = 'Hello, %s. %s are learning Python'
values = ('world','We')
print(my_str % values)

Hello, world. We are learning Python

## Print formating

In [21]:
print('A {p} saved is a {p} earned.'.format(p = 'penny'))

A penny saved is a penny earned.

In [22]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [23]:
print('First object:{a} Second object: {b}'.format(a = 1, b = 'Two'))

First object:1 Second object: Two

## Lists

In [28]:
squares = [1,4,9,16,25]
print(squares)
print(squares[0])
print(squares[-1])
print(squares[-3:])
print(squares[:])
print(squares + [36,49,64,81,100])c

[1, 4, 9, 16, 25]
1
25
[9, 16, 25]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
print('First: %s, Second: %5.2f,\
Third %r' %('Hi',3.141522,'bye!'))

First: Hi, Second::  3.14,Third 'bye!'

In [13]:
cubes = [1,8,27,65,125]
cubes[3] = 64

cubes

[1, 8, 27, 64, 125]

In [14]:
cubes.append(216)
cubes

[1, 8, 27, 64, 125, 216]

In [15]:
cubes.append(7**3)
cubes

[1, 8, 27, 64, 125, 216, 343]

In [22]:
#slicing in lists
letters = ['a','b','c','d','e','f','g']
print(letters)
letters[2:5] = ['C','D','E']
print(letters)
letters[2:5] = []
print(letters)
letters[:] = []
print(letters)
letters = ['a','b']
len(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
[]

2

In [23]:
edward = ['edward Gumby',42]
jhon = ['Jhon Smith',50]
database = [edward ,jhon]
database

[['edward Gumby', 42], ['Jhon Smith', 50]]

In [25]:
a = ['a','b','c']
n = [1,2,3]
x = [a,n]
print(x[0])
print(x[0][2])
print(x[1][2])

['a', 'b', 'c']
c
3

In [12]:


months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November', 'December']
endings = ['st','nd','rd'] + 17 * ['th'] + ['st','nd','rd'] + 17*['th']
month = input('Enter month\n')
day = input('Enter day\n')
year = (input('Enter year\n'))
print(day+endings[int(day)-1]+','+months[int(month)-1]+','+year)

Enter month
1
Enter day
1
Enter year
1
1st,January,1

In [26]:
date = input('Please enter data in 00\\00\\0000 fromat\n')
month  = date[3:5]
day = date[0:2]
year = date[-4:]
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November', 'December']
endings = ['st','nd','rd'] + 17 * ['th'] + ['st','nd','rd'] + 8*['th']
print(day+endings[int(day)-1]+' '+months[int(month)-1]+','+year)

Please enter data in 00\00\0000 fromat
23/12/2022
23rd December,2022

In [1]:
# The in operator returns true or False whether the element is present in the given list(any datatype)
permissions = 'rw1'
'1' in permissions

True

In [30]:
users = ['MAn', 'MAN', 'man', 123, 12.31]
print(1 in users)

False

In [29]:
subject  = '$$$ Get rich now!!! $$$'
'$$$' in subject

True

In [33]:
database = [['albert','1234'],['dilbert','4242'],['smith','727']]
username = input('Unsername:\n')
pin = input('pin\n')
if [username,pin] in database: 
    print('access granted!')

Unsername:
alber
pin
1234
access grated!

In [35]:
numbers = [100, 34, 678]
print(len(numbers))
print(max(numbers))
print(min(numbers))

3
678
34

In [36]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [9]:
lst  = [1,2,3]
lst.append(4)
print(lst)
c = ['to','be', 'or', 'not', 'to', 'be'].count('to')
print(c)
x = [[1,2],1,1,[2,1,[1,2]]]
c = x.count(1)
print(c)
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)
print(a + b)
lst.clear()
print(lst)

[1, 2, 3, 4]
2
2
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 5, 6]
[]

In [12]:
#important 
a = [1,2,3]
b = [1,4,3]
b = a
b[1] = 4
print(a)
print(b)
#There is change in both 'a' and 'b'

a = [1,2,3]
b = [1,4,3]
b = a.copy()#This function creates a replica and stores it in an other memory location
b[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]
[1, 2, 3]
[1, 4, 3]

In [25]:
lst = [1,2,3,4,5]
lst.index(2)

print(lst)
lst = [1,2,3,4,5]
lst.insert(2,2)
print(lst)
lst = [1,2,3,4,5]
lst[3:3] = [4]
print(lst)
lst = [1,2,3,4,5]
lst[3:4] = [4]

x = [1,2,3]
x.pop(0)
print(x)

[1, 2, 3, 4, 5]
[1, 2, 2, 3, 4, 5]
[1, 2, 3, 4, 4, 5]
[2, 3]

In [33]:
x = ['to', 'be', 'or', 'not', 'to', 'be']
x.remove('be')#removes the given element
print(x)

x = [1,2,3]
x[::-1]
print(x)
x.reverse()#reverses the string
print(x)

x = [4,6,2,1,7,9]
y = x[:]
z = x.copy()
x.sort()
print(x)
print(y)
print(z)

['to', 'or', 'not', 'to', 'be']
[1, 2, 3]
[3, 2, 1]
[1, 2, 4, 6, 7, 9]
[4, 6, 2, 1, 7, 9]
[4, 6, 2, 1, 7, 9]

In [34]:
x = [1,2,3]
list(reversed(x))

[3, 2, 1]

In [35]:
y = sorted(x)
y

[1, 2, 3]

In [36]:
sorted('Python')#Sorts and returns a list

['P', 'h', 'n', 'o', 't', 'y']

In [44]:
x = ['aardvark', 'abalone', 'acme', 'add', 'aerate']
x.sort(key = len)
x

['add', 'acme', 'aerate', 'abalone', 'aardvark']

In [40]:
x = [4,6,2,1,7,9]
x.sort(reverse = True)
x

[9, 7, 6, 4, 2, 1]

## DICTIONARIES

In [53]:
test = {'a':1, 'b':2}
print(test)
'a' in test
del test['a']
print(test)
test['a'] = 1
test

{'a': 1, 'b': 2}
{'b': 2}

{'b': 2, 'a': 1}

In [54]:
test.values()

dict_values([2, 1])

In [55]:
test.items()

dict_items([('b', 2), ('a', 1)])

In [56]:
test.keys()

dict_keys(['b', 'a'])

In [59]:
items = [('name','Gumby'),('age',42)]
d = dict(items)
d

{'name': 'Gumby', 'age': 42}

In [62]:
print(d['age'])
d['name']

42

'Gumby'

In [67]:
people = {'Alice': {'ph': 2323, 'add' : 'add1'}, 'Bruce': {'ph': 3322, 'add' : 'add2'}}
name = input('Name:\n')

request = input("Phone number 'p' or address 'a'\n")
if request == 'p': key = 'ph'
if request == 'a': key = 'add'
if name in people:
    print("{}'s is {}".format(name, people[name][key]))

Name:
Bruce
Phone number 'p' or address 'a'
a
Bruce's is add2

## Tuples

In [1]:
3*(40+2,)

(42, 42, 42)

In [2]:
tuple([1,2,3])

(1, 2, 3)

In [3]:
tuple('abc')

('a', 'b', 'c')

In [4]:
subject = '$$$ Get rich now!!! $$$'

In [5]:
subject.find('$$$')# Returns the index of the searched element

0

In [6]:
subject.find('$$$',1)#In this an idex is specified from wgicg the search takes place

20

In [7]:
a = 1,2,3

In [9]:
a = list(a)#Converts into a list
print(a)

[1, 2, 3]

In [10]:
a[1] = 7
a

[1, 7, 3]

In [13]:
a = [1,1,1]
b = [1,2,3]
a[0] = b
print(a)

[[1, 2, 3], 1, 1]

In [24]:
subject = '$$$ Get rich now!!! $$ $$$ $$$'
a =[]
a.append(subject.find('$$$',len('$$$')+1))
a

[23]

In [18]:
sep = '+'

mylist = ['a','b','c']
sep.join(mylist)#Joins all the elements if they are strings in the list with parameter inserted

'a+b+c'

In [21]:
sep = '+'
seq = [1,2,3,4]
seq = ['1','2','3','4']
sep.join(seq)

'1+2+3+4'

In [26]:
sep.join(seq)
dirs = '','usr','bin','env'
'/'.join(dirs)
print('C:' + '\\'.join(dirs))

C:\usr\bin\env

In [27]:
'Tronheim Hammer Dance'.lower()#COnverts string elements into lower case

'tronheim hammer dance'

In [38]:
name = 'Gumby'
names = ['gumby', 'smith', 'jones']
if name.lower() in names:
    print ('Found \n it!')

Found
 it!

In [32]:
'This is a test'.replace(' is ', ' eez ')#Function replaces the given string with the other specified

'This eez a test'

In [33]:
'1+2+3+4+5'.split('+')# Seperates a string into list according to the papmeter mentioned

['1', '2', '3', '4', '5']

In [34]:
'/usr/bin/env'.split('/')

['', 'usr', 'bin', 'env']

In [36]:
'Using the default'.split()

['Using', 'the', 'default']

In [39]:
' internal whitespaces is kept '.strip()

'internal whitespaces is kept'

In [40]:
names = ['gumby', 'smith', 'jones']
name = 'Gumby '
if name in names: print('Found it !')

In [41]:
names = ['gumby', 'smith', 'jones']
name = 'Gumby '
if name.strip().lower() in names: print('Found it !')

Found it !

In [2]:
'*** SPAM * for * everyone!!! ***'.strip('* S')# Removes the papmeter mentioned from the starting and the ending part

'PAM * for * everyone!!!'

In [67]:
table = str.maketrans('cs', 'kz', ' ')
'this  is an incredible test'.translate(table)

'thizizaninkredibletezt'

## SETS

In [71]:
x = set()
x.add(1)
x.add(2)
x.add(1)
x

{1, 2}

In [72]:
list1 = [1,1,1,2,3,3,3,4]
set1 = set(list1)
set1

{1, 2, 3, 4}

In [73]:
a =True
b = False
c = None
print(a,b,c)

True False None