# STRING FORMATING
 There are two methods for string formatting 
 
* .format 
* f-strings(formatted sring literals
# Firstly .format 
'String {} here{}'.format('exp1','exp2')

In [2]:
print('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q='quick'))

The quick brown fox

# float formatting follows "{value;width.precision }"

In [3]:
result = 10000/77

In [4]:
result

129.87012987012986

In [5]:
print("The result was {a:1.3f}".format(a = result))

The result was 129.870

# f-string

In [6]:
name ='jose'
per = 88.88
print(f"Hello his name is {name} and has a percentage of {per:1.3f}")

Hello his name is jose and has a percentage of 88.880

# LISTS
These are ordered sequences that can hold a varity of objects
* SYNTAX  
list_name[]  
Lists support indexing and slicing   
They can be nested and also have variety of useful methods that can be called off them  
For example .sort() method used for sorting

In [7]:
 my_list = [1,2,3]

In [8]:
my_list = ['String',1,2.55]
len(my_list)

3

In [9]:
my_list = ['one','two','three']
another_list = ['four' , 'five']
my_list[0]

'one'

In [10]:
my_list[:2]

['one', 'two']

In [11]:
new_list = my_list + another_list

In [12]:
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
new_list[0] = 'ONE'

In [14]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [15]:
new_list.append('six')#This method is used to add an item and the end of a new list
new_list
new_list.append('seven')
new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [16]:
new_list.pop()#pop function only takes in integers

'seven'

In [17]:
popped_item = new_list.pop(0)
popped_item

'ONE'

In [18]:
new_list

['two', 'three', 'four', 'five', 'six']

In [19]:
new_list = ['a','e','i','o']
num_list = [4,2,55,11]

In [20]:
num_list.sort()#This method can be used to sort a list in ascending order
num_list

[2, 4, 11, 55]

In [21]:
num_list.reverse()#This method can be used to sort a list in descending order
num_list

[55, 11, 4, 2]

# DICTIONARIES  
These are unordered mappings for storing objects  
This key-value pair allows user to quickly grab objects without needing to know an index location  
* SYNTAX  
  {'key1':'value1','key2';'value2'} *
cannot be sorted  
retrieved by a key

In [22]:
my_dictionary = {'1':'value1','2':'value2'}

In [23]:
my_dictionary['1']

'value1'

In [24]:
price_lookup = {'apple':'2','oranges':'2','milk':'5'}
price_lookup['milk']

'5'

In [25]:
#dictionaries can hold lists in them
d = {'k1':'123','k2':[1,2,3,4],'k5':{'inside_key':100.34}}
d['k2']

[1, 2, 3, 4]

In [26]:
d['k5']

{'inside_key': 100.34}

In [27]:
d['k5']['inside_key']#To grab inside the nested dictionary

100.34

In [28]:
d['k2'][3]#To grab objects insidde the list

4

In [29]:
#To change the letter 'c' to 'C'
d = {'key1':['a', 'b', 'c', 'd']}
c = d['key1'][2].upper()#this is used to capitalize
print(c)

C

In [30]:
d = {'k1':100,'k2':200} #to add new value to the end
d['k3']=300
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [31]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [32]:
d.values()#outuput is a list

dict_values([100, 200, 300])

In [33]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# TUPLES  
They are similar to lists but are immutable  
* Syntax  
(element1,elemen2,element3)

In [34]:
t = (1,2,3)

In [35]:
my_list = [1,2,3]
type(my_list)

list

In [36]:
len(t)

3

In [37]:
t = (1,'3',23.55)
print(t)

(1, '3', 23.55)

In [38]:
t[2]

23.55

In [39]:
t[-1]

23.55

In [40]:
t = ('a','a','b')

In [41]:
t.count('a')

2

In [42]:
t.index('a')#only prints it when it occurs at first

0

In [43]:
my_list

[1, 2, 3]

In [44]:
my_list[0] = 'NEW'

In [45]:
t[0]= "new"

TypeError: 'tuple' object does not support item assignment

# SETS  
Sets are unordered collection of unique elements   
There can be only one representative of the same object

In [46]:
my_set = set()

In [47]:
my_set.add(1)

In [48]:
my_set

{1}

In [49]:
my_set.add('2')

In [50]:
my_set.add('2')

In [51]:
my_set#As we can see the element is only added once

{1, '2'}

In [57]:
my_list = [6,6,6,1,1,2,3,3,3,4,5]#only unique values are taken in a set
my_list = set(my_list)
my_list.add(3)
my_list

{1, 2, 3, 4, 5, 6}

# BOOLEANS  
Booleans are operators that allow us to convey TRUE or False statements  
These are very much useful during control flow execution

In [26]:
True

True

In [27]:
False

False

In [28]:
type(False)

bool

In [29]:
1 > 2

False

In [30]:
2<1

False

In [31]:
1  == 2#comparison operators

False

In [34]:
b = None
print(b)

None

# FILES
To import and export files in python

In [27]:
%%writefile myfile.txt  
Hello this is a text file
second line
third line

Writing myfile.txt

In [28]:
# The previous command only works for jupyter notebook
myfile = open('myfile.txt')

In [29]:
myfile = open('my_file.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'my_file.txt'

In [30]:
pwd

'C:\\Users\\Sai Manish S'

In [31]:
 myfile = open('myfile.txt')

In [32]:
myfile.read()

'Hello this is a text file\nsecond line\nthird line\n'

In [33]:
myfile.seek(0)

0

In [34]:
myfile.read()

'Hello this is a text file\nsecond line\nthird line\n'

In [36]:
myfile.read()#the pointer has come to end of line

''

In [37]:
myfile.seek(0)#hence we put it back to the initial point
contents = myfile.read()
myfile.seek(0)

0

In [38]:
myfile.readlines()#readlines gives an outuput in the form of list

['Hello this is a text file\n', 'second line\n', 'third line\n']

# How to open files from different locations  
examples:  
myfile  = open("filepath(after each directory we give '\\' instead of '\')\\filename")  
myfile = open("C:\\Users\\Saimanish\\txext.txt")

In [39]:
#after opening a file we need to close it
myfile.close()

In [40]:
#second method to open files
with open('myfile.txt') as my_newfile:
    contents = my_newfile.readlines()

In [41]:
contents

['Hello this is a text file\n', 'second line\n', 'third line\n']

# Reading, Writing, Appending modes in files  
* 'mode = r'  
   is read only
* mode = w  
  is write only  
* mode = a  
  is to append  
* mode = r+  
  reading and writing  
* mode = w+  
  writing and reading overwriting on existing files or creating new files

In [42]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [43]:
%%writefile newfile.txt
1st line
2nd line and 
the 3rd line

Overwriting newfile.txt

In [45]:
with open('newfile.txt', mode='r') as f:
    print(f.read())

1st line
2nd line and
the 3rd line

In [46]:
with open('newfile.txt', mode='a') as f:
    f.write('the 4th line')
    #f.seek(0)

In [47]:
with open('newfile.txt', mode='r') as f:
    print(f.read())

1st line
2nd line and
the 3rd line
the 4th line

In [63]:
with open('aslknckj.txt', mode = 'w') as f:
    f.write('I created this file')

In [64]:
with open('aslknckj.txt', mode = 'r') as f:
    print(f.read())

I created this file

Basic Practice:  
http://codingbat.com/python  
More Mathematical (and Harder) Practice:  
https://projecteuler.net/archives  
List of Practice Problems:  
http://www.codeabbey.com/index/task_list  
A SubReddit Devoted to Daily Practice Problems:  
https://www.reddit.com/r/dailyprogrammer  
A very tricky website with very few hints and touch problems (Not for beginners but still interesting)  
http://www.pythonchallenge.com/

#  COMPARISON OPERATORS  
These are operators which return boolean values

In [67]:
2 == 2#eqal to operator

True

In [66]:
2 == 1

False

In [68]:
3 != 3.0 #not equal to operator

False

In [69]:
'>' # greater than operator
'<' # less than operator
'>=' #greator than operator 
'<=' #less than eqal to operator

'<='

# LOGICAL OPERATORS

In [70]:
'AND' #&& #both conditions to be true 
'OR' #|| #atleast one condition to be true
'NOT' #!

'AND'

In [71]:
1 < 2 < 3#CHAINING

True

In [73]:
1 < 2 and 2 < 3

True

In [74]:
('h' == 'h') and (2 == 2)

True

In [75]:
100 == 100 or 1 == 100

True

In [76]:
100 == 10 or 1 == 100

False

In [77]:
1 == 1

True

In [78]:
not(1 == 1)

False

In [80]:
not(500 < 1)

True

# If elif else  
# Statements  
Control flow is to execute a certain part of code  
It uses indentation is what sets apart from other programming languages  
* IF   
syntax: 
         if condition:
            some statements  
Here the indentation sperates the given statements from the program  
* if/else  
syntax:    
        if condition:
            some statements  
        else:
            some other statements  
This is is the if condition is false it goes into else and executes it  
* if/else/if  
syntax:    
        if condition:
            some statements  
        elif: condition:
            some statements  
        else:
            some other statements  
If all conditions fail the else condition is executed its a ladder like statements

In [58]:
hungry = True

if hungry:
    print('Feed me please!!')

Feed me please!!

hungry = False

if hungry:
    print('Feed me please!!')
else :
    print('I am not hungry')

In [59]:
loc = 'Store'
if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print("I don't know much")

Welcome to the store!

In [60]:
name = 'Sammy'

if name == 'Sammy':
    print('Hello Sammy!')
elif name == 'Frankie':
    print('Hello Frankie')
else:
    print('What is your name?')

Hello Sammy!

# LOOPS
# FOR LOOP
* Syntax:
        my_iterable = [1,2,3]  # this can be any data structure  
        for item_name in my_iterable:
            print(item_name)

In [61]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [63]:
for jelly in mylist:
    print('jelly')

jelly
jelly
jelly
jelly
jelly
jelly
jelly
jelly
jelly
jelly

In [64]:
for num in mylist:
    if(num % 2) == 0 :
        print(num)
    else:
        print(f"Odd number {num}")

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [65]:
list_sum = 0
for sum in mylist:
    list_sum = list_sum + num
print(f"The sum is {list_sum}")

The sum is 100

In [66]:
for _ in 'Hello World!':
    print('Coool!')

Coool!
Coool!
Coool!
Coool!
Coool!
Coool!
Coool!
Coool!
Coool!
Coool!
Coool!
Coool!

In [76]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [77]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [81]:
for (a,b) in mylist:
    print(f'{a}\n{b}')

1
2
3
4
5
6
7
8

mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [17]:
for a,b,c,in mylist:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [18]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [19]:
for a,b,c,in mylist:
    print(c)

3
6
9

In [22]:
d = {'k1':1 ,'k2':2, 'k3':3
    }#when a dictionary is printed the key and value are stored as tuple
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [23]:

for key,values in d.items():
    print(key)

k1
k2
k3

In [24]:
for key,values in d.items():
    print(values)

1
2
3

## WHILE LOOP 
A set of statements are executed untill the condioton is satisfied once it is false it comes out of the loop  

*SYNTAX

      while conditon:  
          set of statements

In [1]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [2]:
x = 0

while x < 5:
    print(x)
    x += 1
else :
    print(f"X is greater than or eqaul to 5 {x}" )

0
1
2
3
4
X is greater than or eqaul to 5 5

## break, continue, pass  

* break  
    Breaks out of the current closest enclosed loop  
* continue  
    Goes back to top of the current closest enclosed loop  
* pass  
    Does nothing

In [4]:
x = [1,2,3,4,5,6]#here as item = 2 continue is encountered and goes to the top and increments item

for item in x:
    if item == 2:
        continue
    print(item)

1
3
4
5
6

In [5]:
x = [1,2,3,4,5,6]#here as item = 2 break is encountered and goes out of the loop

for item in x:
    if item == 2:
        break
    print(item)

1

In [7]:
#For example if the given loop needs to be empty then we can use pass which tells the interpreter to pass along

for item in x:
  pass

## Some important operations  
* range() : It is used to get a range of integers
    * Syntax: range(start,stop,increment)
* enumerate() : It specifies the index of any data structure  
    * Syntax : enumerate(list)  
* zip() : combines two or more lists wit other element to form a tuplle  
     * Syntax : zip(list1,list2,list3)
* max() : Finds the max  
* min() : Finds the min 
* in keyword used to find if elemnt exists or not

In [9]:
for i in range(0,10,2):# Note the stop value is one less than the value entered
    print(i)

0
2
4
6
8

In [12]:
mylist = list(range(0,11))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
mylist = [1,2,3,4,5] #Here the enumerate function gives the output in the form of set of tuple 

for item in enumerate (mylist):
    print(item)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [16]:
# after tuple unpacking
for index,item in enumerate (mylist):
    print(f"The index is {index} and the element is {item}")

The index is 0 and the element is 1
The index is 1 and the element is 2
The index is 2 and the element is 3
The index is 3 and the element is 4
The index is 4 and the element is 5

In [19]:
# the zip has matched the two lists and made them into tuples 
# if the lists are not of equal length then only the number of elements matched will be equal to the number of elemnts in the 
# shortest list
mylist1 = list(range(0,6))
mylist2 = [2,33,24,145,23]

for item in zip(mylist1,mylist2):
    print(item)

(0, 2)
(1, 33)
(2, 24)
(3, 145)
(4, 23)

In [20]:
max(mylist2)

145

In [21]:
min(mylist2)

2

In [22]:
mylist = [1,2,4,1,4,34,4,3]
1 in mylist

True

In [38]:
d = {'k1':23, 'k2':123}
'k1' in d.keys()

True

In [30]:
'k1' in d.values()

False

In [35]:
from random import shuffle

In [39]:
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)

In [40]:
mylist

[7, 5, 4, 6, 2, 1, 3, 10, 8, 9]

In [41]:
from random import randint

In [49]:
num = randint(0,5)
num

5

In [53]:
num = input("Enter a number\n") #pyhton always takes input in the form of string hence typecasting is important
num = int(num)
type(num)

Enter a number
33

int

# LIST COMPREHENSIONS  
This is a technique which is used to append elements to list with less code writing.

In [2]:
mystring = 'Hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
print(mylist)

['H', 'e', 'l', 'l', 'o']

In [4]:
# The above code can be written in a single line
mylist = [letter for letter in mystring]
print(mylist)

['H', 'e', 'l', 'l', 'o']

In [6]:
#to only append the two 'll's i.e with an if
mylist = [letter for letter in mystring if letter == 'l' ]
print(mylist)

['l', 'l']

In [13]:
#to have if else statements in list comprehension
#to print all even numbers normally and odd numbers with odd
mylist = [num if num%2==0 else 'ODD' for num in range(0,11) ]
print(mylist)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [14]:
#NESTED LOOPS
mylist = [x*y for x in [1,2,3] for y in [10,100,1000]]
print(mylist)

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

# METHODS  and FUNCTIONS

In [2]:
mylist = [1,2,3,4,5]
mylist.pop()

5

In [3]:
mylist.append(5)

# FUNCTIONS   
These can be two types user defined and in-built.  
The above example show in-built.  
To create a user defined function the syntax is given below  
* SYNTAX : 
            def name_of_the_function(variable):  
                    set of statements  
                    return()

In [6]:
# This function does not have any return type 
def say_hello(name = None):
    print('Hello!' + name)

In [7]:
say_hello('Manish')

Hello!Manish

In [11]:
def say_hello(name = None):
    return 'Hello! ' + name

In [12]:
result = say_hello('Sai')

In [13]:
result

'Hello! Sai'

In [14]:
 def num_add(num1,num2):

        return num1 + num2

In [15]:
print(num_add(2,3))

5

In [16]:
a = 5
b = 6
sum = num_add(a,b)
print(sum)

11

In [19]:
# to find whether the word 'dog' is present in the string

def find_dog(str):
    if 'dog' in str.lower():
        return True
    else:
        return False

In [20]:
find_dog('I lost my Dog')

True

In [21]:
find_dog('I lost my Dobberman')

False

In [25]:
# The above code can be simplified further 
def dog(str):
    return('dog' in str.lower())

In [26]:
dog('I lost my Dog')

True

In [27]:
dog('I lost my cat')

False

In [51]:
def pig_latin(strv):
    a = strv[0]
    if a == ('a' or 'e' or 'i' or 'o' or 'u') in 'aeiou':
        return(strv + ('ay'))
    else:
        return(strv[1::] + a +'ay')

In [53]:
print(pig_latin('apple'))

appleay

In [1]:
def myfunc(a,b):
    return sum((a,b))*0.05

In [2]:
myfunc(40,60)

5.0

# args and kwargs  
*args  
These are positional arguments that can be passed into a function  
These are given as a tuple for the function  


**kwargs  
These are keyword arguments that can be passed into a function  
These are given as a dictionary for the function

In [4]:
#This function returns 5% of the total sum calculated What if we dn't know the number of arguments then we use args and kwargs
def myfunc(a,b):
    return sum((a,b))*0.05
print(myfunc(40,60))

5.0

In [5]:
#This is with unknown arguments
def func(*args):
    return sum(args)*0.05

In [6]:
func(40,60)

5.0

In [7]:
func(40,60,100,1000)

60.0

In [22]:
#kwargs are used for unknown dictionaries that are sent 
def func(**kwargs):
    if 'fruit' in kwargs:
        print('This is my fruit of choice {}'.format(kwargs['fruit']))

In [23]:
func(fruit ='apple', food ='pulav')

This is my fruit of choice apple

In [28]:
# To use both * and **
def func(*args, **kwargs):
    print(args)
    print(kwargs)
    if 'fruit' in kwargs:
        print('i need {} {}s'.format(args[0],kwargs['fruit']))

In [29]:
func(10,22,13331,43,13, fruit = 'orange',veggies = 'carrot')

(10, 22, 13331, 43, 13)
{'fruit': 'orange', 'veggies': 'carrot'}
i need 10 oranges

 # Map function  
 This function is used to map a given list or similar data types i.e to take each element and pass it through a function  
 * Syntax:  
         map(function_name,parameter)

In [1]:
def square(num):
    return num**2

In [3]:
num = [1,2,3,4]

In [4]:
for i in map(square,num):
    print(i)

1
4
9
16

In [5]:
list(map(square,num))

[1, 4, 9, 16]

In [9]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'Even'
    else:
        return mystring[0]

In [10]:
mystring = ['Sai', 'Manish', 'Fumble']

In [11]:
list(map(splicer,mystring))

['S', 'Even', 'Even']

# Filter function  
This function is used to filter out a given list according to a function output  
* Syntax:  
        filter(function_name,parameter)'

In [14]:
# This funtion either returns a true or a false hence we can use athe filter function
# This function is finds whether the given string has a even length or odd
def even(mystring):
    return len(mystring)%2 == 0

In [15]:
mystring = ['even', 'Odd', 'Sai', 'Manish']

In [16]:
list(filter(even,mystring))

['even', 'Manish']

# Lambda function  
This are ananymous funtions that are used just once during a program execution

In [17]:
def square(nums):
    return nums**2

In [19]:
list(map(lambda num:num**2,num))

[1, 4, 9, 16]

In [22]:
m = list(map(lambda mystring: len(mystring)%2==0,mystring))

In [23]:
m

[True, False, False, True]

# Variable Scope LEGB rule  

L : Local Variable declared within a function  
E : Enclosed variable declared in an enclosed funtion  
G : Global variable declared globally i.e without and indentation  
B : Built in varibles are defined by python itself

In [9]:
name =  'Global delcaration'
def printer():
    name =  'enclosed declaration'
    def printers():
        name = 'local variable'
        print(name)
    printers()

In [12]:
# First preference is given to local variable ie first it is python looks for 'name' declared locally in this case true 
# hence prints the local variable 
printer()

local variable

In [13]:
# Second preference is given to enclosed variable ie first it is python looks for 'name' declared locally in this casefalse 
# hence next looks for 'name' declared in a enclosed function
name =  'Global delcaration'
def printer():
    name =  'enclosed declaration'
    def printers():
        print(name)
    printers()
printer()

enclosed declaration

In [16]:
# Third preference is given to global variable ie first it is python looks for 'name' declared locally in this casefalse 
# hence next looks for 'name' declared in a enclosed function flase hence looks for global declaration
name =  'Global delcaration'
def printer():
    #name =  'enclosed declaration'
    def printers():
        print(name)
    printers()
printer()

Global delcaration

# global keyword  
This keyword is used to change a globally declared variable locally this is not recommended as this might cause errors when linking two or more scripts.

In [28]:
x = 50
def func():
    x = 200
    print(f"The value of x is {x}")

In [29]:
print(x)

50

In [30]:
func()

The value of x is 200

In [31]:
print(x)#Here as we can see the value of x is not altered ,the globally declared value is printed

50

In [23]:
x = 50
def func():
    global x 
    x = 200
    print(f"The value of x is {x}")

In [24]:
print(x)

50

In [25]:
func()

The value of x is 200

In [26]:
print(x)#Here as we can see the value of x is altered ,the globally declared value is printed

200

In [34]:
# Another prefferd way to perform the same function
x = 50 
def func():
    x = 200
    print('The value of x is {}'.format(x))
    return x

In [36]:
print(x)

50

In [37]:
x = func()

The value of x is 200

In [38]:
print(x)

200